:root{
    --primary:#0e0e5a;
    --light:white;
    --dark:#000;
}

body{
    background-color: white;
}

.btn{
    font-weight: 500px;
    text-transform: uppercase;
    transition: 0.3s;
}

.btn.btn-primary,
.btn.btn-secondary{
    color: white;
}

.section-title{
    position: relative;
    display: inline-block;
}
.section-title::before{
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    left: -55px;
    margin-top:-1px;
    background:var(--primary);
}
.section-title::after{
    position: absolute;
    content:"";
    width: 45px;
    height: 2px;
    top: 50%;
    right: -55px;
    margin-top: -1px;
    background: var(--primary);
}
.section-title.text-start::before,
.section-title.text-start::before{
   display: none;
}


.carousel-caption{
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background: rgba(18, 28, 54, 0.7);
    z-index: 1;
}
.carousel-control-prev,
.carousel-control-next{
    width:10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
    width: 3rem;
    height: 3rem;
}

.booking{
    position: relative;
    margin-top: -100px !important;
    z-index: 1;
}


.service-item{
    height: 320px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: white;
    box-shadow: 0 0 45px rgba(0,0,0,0.08);
    transition:0.5s;
}

.service-item:hover{
    background: var(--primary);
    
}

.service-item .service-icon{
    margin: 0 auto 30px auto;
    width: 65px;
    height: 65px;
    transition: 0.5s;
}
.service-item i,
.service-item h5,
.service-item p{
    transition: 0.5s;
}

.service-item:hover i,
.service-item:hover h5,
.service-item:hover p{
    color: white !important;
}

.testimonial{
    background: linear-gradient(rgba(15,23,43,0.7),rgba(15,23,43,0.7)),url(./images/pexels-download-a-pic-donate-a-buck-^-54379.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.testimonial-carousel{
    padding-left: 65px;
    padding-right: 65px;
}

.testimonial-carousel .testimonial-item{
    padding: 25px;
}

.testimonial-carousel .owl-nav{
    position: absolute;
    width: 100%;
    height: 40px;
    top: calc(50% - 20px);
    left:0;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next{
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: var(--primary);
    border-radius: 2px;
    font-size: 18px;
}

.newsletter{
    position: relative;
    z-index: 1;
}

.footer{
    position: relative;
    margin-top: -110px;
    padding-top: 180px;
}

.footer .btn.btn-social{
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid white;
    border-radius: 35px;
    transition: 0.3s;

}

.footer .btn.btn-link{
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: white;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: 0.3s;
}